.about-us {
    .about__content {
        padding: 20px 0 100px;
        h1 {
            letter-spacing: 2px;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 400;
        }
        p {
            letter-spacing: 1px;
            font-size: 0.8rem;
        }
    }
}
