-
    var status = [
        {
            status: 'Tất cả',
            count: 16
        },
        {
            status: 'Đã hủy',
            count: 10
        },
        {
            status: 'Chưa duyệt',
            count: 0
        },
        {
            status: 'Đã duyệt',
            count: 0
        },

        {
            status: 'Đã thanh toán - Chờ mua hàng',
            count: 0
        },
        {
            status: 'Đã mua hàng',
            count: 0
        },
        {
            status: 'Hàng đã về - Chờ giao hàng',
            count: 0
        },
        {
            status: 'Đã kết thúc',
            count: 6
        }
    ]

    var list_cart_item = [
        {
            id: '01',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            id: '02',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            id: '03',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            id: '04',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            id: '05',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            id: '06',
            name: 'LEANHGIANG89',
            date: '17/06/2015',
            dateTime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            count: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        }
    ]