-
    var blog_items = [
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        }
    ]

    var tags = ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"];

    var news_post = [
        {
            img: "post.jpg",
            title: "Cách sắp xếp nội thất trong nhà",
            date: "12/06/2015"
        },
        {
            img: "post.jpg",
            title: "Làm sao để bảo quản rượu được lâu?",
            date: "12/06/2015"
        },
        {
            img: "post.jpg",
            title: "Uống rượu không say? Tại sao không?",
            date: "12/06/2015"
        }
    ]

    var post = [ 
        {
            img: 'slide-2.jpg',
            post_title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comment: [
                {
                    name: "LinhLee",
                    time: "Cách đây 4 giờ",
                    content: "Có lẽ bởi tính chất an gian vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng."
                },
                {
                    name: "GiangLee",
                    time: "Cách đây 5 giờ",
                    content: "Có lẽ bởi tính chất an gian vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng."
                },
                {
                    name: "HuongLee",
                    time: "Cách đây 6 giờ",
                    content: "Có lẽ bởi tính chất an gian vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng."
                }
            ]
        }
    ]