-
    var cart = [
        {
            img: '1.jpg',
            name: 'Rượu vang đỏ',
            price: '4500000',
            quantity: '2',
        },
        {
            img: '2.jpg',
            name: 'Rượu vang pháp',
            price: '3500000',
            quantity: '3',
        },
        {
            img: '3.jpg',
            name: 'Rượu ba kích',
            price: '4500000',
            quantity: '1',
        },
        {
            img: '4.jpg',
            name: 'Rượu vang nho',
            price: '4000000',
            quantity: '5',
        },
        {
            img: '5.jpg',
            name: 'Rượu tắc kè',
            price: '4500000',
            quantity: '2',
        }
    ]