- 
    var carousel_header = [
        {
            img: 'slide-1.jpg',
            title:'Rượu',
            year:'Since 1980',
            name:'Vang Đỏ'
        },
        {
            img: 'slide-2.jpg',
            title:'Rượu',
            year:'Since 1980',
            name:'Vang Trắng'
        },
        {
            img: 'slide-3.jpg',
            title:'Rượu',
            year:'Since 1980',
            name:'Champagne'
        }
    ];

    var gallery = [
        {
            img: 'gallery-1.jpg',
            name: 'RƯỢU',
            year: '1987'
        },
        {
            img: 'gallery-2.jpg',
            name: 'RƯỢU',
            year: '1975' 
        },
        {
            img: 'gallery-3.jpg',
            name: 'RƯỢU',
            year: '1988' 
        },
        {
            img: 'post.jpg',
            name: 'RƯỢU',
            year: '1957'
        },
        {
            img: 'slide-2.jpg',
            name: 'RƯỢU',
            year: '1997' 
        },
        {
            img: 'slide-1.jpg',
            name: 'RƯỢU',
            year: '1970' 
        },
        {
            img: 'gallery-2.jpg',
            name: 'RƯỢU',
            year: '1975' 
        },
        {
            img: 'gallery-3.jpg',
            name: 'RƯỢU',
            year: '1975' 
        }
    ];

    var new_product = [
        {
            img: '1.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '2.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '3.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '4.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '5.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '6.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '7.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '8.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '9.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        }
    ];

    var hot_product = [
        {
            img: '4.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '5.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '6.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '7.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '8.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '9.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '1.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '2.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        },
        {
            img: '3.jpg',
            name: 'Rượu vang đà lạt',
            price: '370.000',
            old_price: '450.000'
        }
    ];

    var blog_index = [
        {
            img: 'gallery-3.jpg',
            title: 'Vang thăng long classic',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        },
        {
            img: 'gallery-3.jpg',
            title: 'Vang thăng long classic',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        }
    ];

    var feedback = [
        {
            img: 'user-1.jpg',
            name: 'GiangLT',
            job: 'Graphic design'
        },
        {
            img: 'user-2.jpg',
            name: 'GiangLT',
            job: 'Graphic design'
        },
        {
            img: 'user-3.jpg',
            name: 'GiangLT',
            job: 'Graphic design'
        },
    ]