-
    var footer_brand_img = [
        {
            img: 'brand-1.jpg',
            alt: 'Brand Logo Wine 1'
        },
        {
            img: 'brand-2.jpg',
            alt: 'Brand Logo Wine 2'
        },
        {
            img: 'brand-3.jpg',
            alt: 'Brand Logo Wine 3'
        }
    ]

    var footer_menu = [
        {
            title: 'Thông tin',
            items: [
                {
                    menu_items: 'Về chúng tôi',
                    link: '#'
                },
                {
                    menu_items: 'Giao hàng',
                    link: '#'
                },
                {
                    menu_items: 'Cảm nghĩ',
                    link: '#'
                },
                {
                    menu_items: 'Lưu trữ',
                    link: '#'
                },
                {
                    menu_items: 'Chính sách riêng tư',
                    link: '#'
                }
            ]
        },
        {
            title: 'Mua hàng',
            items: [
                {
                    menu_items: 'Vận chuyển và trả hàng',
                    link: '#'
                },
                {
                    menu_items: 'Mua hàng an toàn',
                    link: '#'
                },
                {
                    menu_items: 'Vận chuyển quốc tế',
                    link: '#'
                },
                {
                    menu_items: 'Liên kết',
                    link: '#'
                },
                {
                    menu_items: 'Dịch vụ giảm giá',
                    link: '#'
                }
            ]
        },
    ]