-
    var about_us = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'About Us',
            link: '/about-us.html'
        }
    ];

    var products_page = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        }
    ];

    var product_detail = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        },
        {
            page: 'Rượu Vang Đỏ',
            link: '/product-detail.html'
        }
    ];

    var cart_page = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        },
        {
            page: 'Giỏ Hàng',
            link: '/cart.html'
        }
    ];

    var blog = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Blog',
            link: '/blog.html'
        }
    ];

    var blog_detail = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Blog',
            link: '/blog.html'
        },
        {
            page: 'Rượu vang đỏ',
            link: '/blog-detail.html'
        }
    ];

    var login = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Đăng Nhập',
            link: '/login.html'
        }
    ];

    var register = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Đăng Ký',
            link: '/resigter.html'
        }
    ];

    var list_cart = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Giỏ Hàng',
            link: '/cart.html'
        },
        {
            page: 'Danh Sách Đơn Hàng',
            link: '/list-cart.html'
        }
    ];

    var contact_page = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Liên Hệ',
            link: '/contact.html'
        }
    ];

    var info_page = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Địa Chỉ',
            link: '/user-info.html'
        }
    ]