- 
    var categories = [
        {
            category: 'Rượu ngoại',
            items: [
                {
                    label: 'Rượu Chivas',
                    amount: 26
                },
                {
                    label: 'Hàng độc - Rượu độc đáo',
                    amount: 36
                },
                {
                    label: 'Johnnie Walker',
                    amount: 46
                },
                {
                    label: 'Rượu Whisky',
                    amount: 24
                },
                {
                    label: 'Rượu Remy Martin',
                    amount: 16
                },
                {
                    label: 'Rượu Glenmorangie',
                    amount: 11
                },
                {
                    label: "Rượu Ballantine's",
                    amount: 7
                },
                {
                    label: 'Rượu Cognac',
                    amount: 40
                },
                {
                    label: 'Rượu Vodka',
                    amount: 93
                },
                {
                    label: 'Rượu Chivas',
                    amount: 26
                },
                {
                    label: 'Rượu Macallan',
                    amount: 19
                },
                {
                    label: 'Rượu Brandy',
                    amount: 62
                },
                {
                    label: 'Rượu Hennessy',
                    amount: 20
                },
                {
                    label: 'Rượu Gin - Tequila - Liqueur - Rượu mùi',
                    amount: 36
                },
                {
                    label: 'Rượu Champagne',
                    amount: 12
                },
                {
                    label: 'Rượu Single malt Scotch whisky',
                    amount: 47
                },
                {
                    label: 'Rượu Spirits',
                    amount: 4
                }
            ]
        },
        {
            category: 'Rượu vang',
            items: [
                {
                    label: 'Rượu Vang Pháp',
                    amount: 44
                },
                {
                    label: 'Rượu Vang Úc',
                    amount: 34
                },
                {
                    label: 'Rượu Vang Mỹ',
                    amount: 16
                },
                {
                    label: 'Rượu Vang Chile',
                    amount: 48
                },
                {
                    label: 'Rượu Vang Philip',
                    amount: 1
                },
                {
                    label: 'Rượu Vang Nam Phi',
                    amount: 20
                },
                {
                    label: 'Rượu Vang Ý',
                    amount: 2
                }
            ]
        }
    ];

    var list_product = [
        {
            img: '1.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '2.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '3.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '4.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '5.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '6.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '7.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '8.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        },
        {
            img: '9.jpg',
            name: 'Rượu vang đà lạt',
            price: 370000,
            old_price: 450000,
            detail: "Một hợp chất có trong rượu vang được gọi là resvantro có khả năng làm tăng tối đa tuổi thọ. Resvantro còn có khả năng ngăn chặn mật đô oxy hóa của protein béo"
        }
    ]