- 
    var user_info = [
        {
            firstName: 'Giang',
            lastName: 'Lê Anh',
            company: 'Cổ phần công nghệ DKT',
            address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
            city: 'Hà Nội',
            country: 'Việt Nam',
            zipCode: '2300089',
            phone: '0974554928',
        }
    ]