-
    var menu_top = [
        {
            title: 'Tài khoản của tôi',
            link: '/user-info.html'
        },
        {
            title: 'Trạng thái đơn hàng',
            link: '/list-cart.html'
        },
        {
            title: 'Danh sách ưa thích',
            link: '#'
        },
        
        {
            title: 'Đăng nhập',
            link: '/login.html',
            id: 'login'
        },
        {
            title: 'Đăng ký',
            link: '/register.html',
            id: 'register'
        },
        {
            title: 'Giỏ hàng',
            link: '/cart.html'
        }
    ]

    var main_menu = [
        {
            title: "Trang chủ",
            link: "/"
        },
        {
            title: "Rượu vang đỏ",
            link: "/blog-detail.html",
            sub_menu: true
        },
        {
            title: "Rượu trắng",
            link: "/product.html"
        },
        {
            title: "Champagne",
            link: "/product-detail.html"
        },
        {
            title: "Thông tin",
            link: "/about-us.html"
        },
        {
            title: "Blog",
            link: "/blog.html"
        },
        {
            title: "Liên hệ",
            link: "/contact.html"
        }
    ]

    var sub_items = [
        {
            title: 'Rượu Ngoại',
            link: '#',
            menu_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            title: 'Rượu Vang',
            link: '#',
            menu_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            title: 'Rượu Ngoại',
            link: '#',
            menu_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        }
    ]